.main {
	/* max-height: 550px; */
	/* background-color: #292c2f; */
	background-color: #f1f3f6;
	/* color: white;	 */
	text-align: center;
	font-family: Arial,sans-serif;
	/* line-height: 550px; */
	padding-bottom:20px;
}
@media (max-width: 880px) {
    .main {
		line-height: normal;
		font-size: auto;
	}
}